header {
  background-color: #2e3a46;
  height: 90px;
  padding: 10px;
  width: 100vw;
}
.img {
  height: 70px;
  width: 90px;
}
.container {
  height: calc(100vh - 80px);
}
.card {
  background-color: rgb(18, 18, 78);
  width: 230px;
  height: 380px;
}

p {
  color: grey;
}
.card-img {
  width: 200px;
  height: 200px;
}
img {
  width: 200px;
  height: 200px;
}
h5 {
  color: white;
  font-weight: 900;
}
